include pug/mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        +Navbar()
        section.main
            .container
                .catalog
                    .item
                        a(href="") Одежда мужская и женская
                    .item
                        a(href="") Верхняя одежда
                    .item
                        a(href="") Повседневная одежда
                    .item
                        a(href="") Платья
                    .item
                        a(href="") Рубашки
                    .item
                        a(href="") Костюмы
                    .item
                        a(href="") Обувь
                    .item
                        a(href="") Зимняя
                    .item
                        a(href="") Демисезонная
                    .item
                        a(href="") Летняя
                    .item
                        a(href="") Спортивная
                .slider__wrapper
                    .owl-carousel
                        .slider__item
                            img(src="assets/images/slider/1.jpg", alt="")
                            a(href="").btn.purple.large Перейти в каталог
                        .slider__item
                            img(src="assets/images/slider/1.jpg", alt="")
                    .owl__nav
            .container
                .border__orange
                    p Если Вы хотите продать дорогую вещь, но не хотите созваниваться с незнакомыми людьми и если Вы не хотите чтобы незнакомые люди ходили в Ваш дом Мы готовы принять Вашу вещь, сохранить и продать по вашей цене!
        section.products__list.last
            .container
                .title__wrapper
                    h2.title Последние поступления
                    .owl__nav
                .slider__wrapper.owl-carousel
                    +ProductItem('assets/images/products/ax_0024 (2)-950x950.jpg', 'Женское платье', 'Roland Mouret', '13 000', '42(ru)')
                    +ProductItem('assets/images/products/first-lady-norka-shuba_7331279_xl.jpg', 'Шуба', 'FIRST LADY', '51 000', '42(ru)')
                    +ProductItem('assets/images/products/I_xNrEWV5Nw.jpg', 'Летняя одежда', 'Polo Gucci', '12 000', '42(ru)')
                    +ProductItem('assets/images/products/ah_0025 (2)-950x950.jpg', 'Женское платье', 'Roland Mouret', '13 000', '42(ru)')
                .btn__wrapper
                    a(href="").btn.border Весь каталог
        section.banner
            .container
                .border__orange
                    img(src="assets/images/icons/L1.png", alt="")
                    span Широкий ассортимент <br> мужской и женской одежды
                .banner
                    img.bg(src="assets/images/banners/938-9385918_strip-full-shirt-.jpg", alt="")
                    span Мужская и женская одежда
                    button.btn.white Увидеть
        +BestSales()
        +InfoSection()
        +ContactsInfo()
        +Footer()


        include pug/scripts.pug