include pug/mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        +Navbar()
        section.catalog__section
            .container
                .side__bar
                    .catalog
                        .item
                            .sub__menu
                                .wrapper
                                    .item 
                                        .sub__menu
                                            .wrapper
                                                .item.active
                                                    a(href="") Демисезонная
                                                .item 
                                                    a(href="") Летняя
                                                .item
                                                    a(href="") Зимняя 
                                        a(href="") Верхняя одежда
                                    .item 
                                        .sub__menu
                                            .wrapper
                                                .item 
                                                    a(href="") Демисезонная
                                                .item 
                                                    a(href="") Летняя
                                                .item 
                                                    a(href="") Зимняя
                                        a(href="") Повседневная одежда
                                    .item 
                                        a(href="") Рубашки
                                    .item 
                                        a(href="") Костюмы
                                    .item 
                                        a(href="") Платья
                                    .item 
                                        .sub__menu
                                            .wrapper
                                                .item 
                                                    a(href="") Демисезонная
                                                .item 
                                                    a(href="") Летняя
                                                .item 
                                                    a(href="") Зимняя
                                        a(href="") Обувь 
                                    .item 
                                        a(href="") Спортивная
                                    .item 
                                        a(href="") Аксессуары 
                            a(href="") Одежда женская 
                        .item 
                            .sub__menu
                                .wrapper
                                    .item
                                        .sub__menu
                                            .wrapper
                                                .item
                                                    a(href="") Демисезонная
                                                .item
                                                    a(href="") Летняя
                                                .item
                                                    a(href="") Зимняя 
                                        a(href="") Верхняя одежда 
                                    .item
                                        .sub__menu
                                            .wrapper
                                                .item
                                                    a(href="") Демисезонная
                                                .item
                                                    a(href="") Летняя
                                                .item
                                                    a(href="") Зимняя 
                                        a(href="") Повседневная одежда 
                                    .item
                                        a(href="") Рубашки
                                    .item
                                        a(href="") Костюмы
                                    .item
                                        .sub__menu
                                            .wrapper
                                                .item
                                                    a(href="") Демисезонная
                                                .item
                                                    a(href="") Летняя
                                                .item 
                                                    a(href="") Зимняя 
                                        a(href="") Обувь 
                                    .item 
                                        a(href="") Спортивная
                                    .item 
                                        a(href="") Аксессуары 
                            a(href="") Одежда мужская
                .content
                    ul.breadscrumbs
                        li
                            a(href="") Главная
                        span -
                        li.active
                            a(href="") Одежда женская
                    .product__info
                        .images__col
                            .images__wrapper.owl-carousel
                                a(href="assets/images/products/ax_0024 (2)-950x950_big.jpg").preview
                                    img(src="assets/images/products/ax_0024 (2)-950x950_big.jpg", alt="")
                                a(href="assets/images/products/first-lady-norka-shuba_7331279_xl.jpg").preview
                                    img(src="assets/images/products/first-lady-norka-shuba_7331279_xl.jpg", alt="")
                                a(href="assets/images/products/I_xNrEWV5Nw.jpg").preview
                                    img(src="assets/images/products/I_xNrEWV5Nw.jpg", alt="")
                                a(href="assets/images/products/ah_0025 (2)-950x950.jpg").preview
                                    img(src="assets/images/products/ah_0025 (2)-950x950.jpg", alt="")
                            .images__slider.owl-carousel
                                .slide
                                    img(src="assets/images/products/ax_0024 (2)-950x950_big.jpg", alt="")
                                .slide
                                    img(src="assets/images/products/first-lady-norka-shuba_7331279_xl.jpg", alt="")
                                .slide
                                    img(src="assets/images/products/I_xNrEWV5Nw.jpg", alt="")
                                .slide
                                    img(src="assets/images/products/ah_0025 (2)-950x950.jpg", alt="")
                        .desc__col
                            h1 Женское платье Roland Mouret
                            .desc__row.price
                                b 
                                    |Стоимость:
                                    .old_price
                                        |27000 р.
                                .value
                                    |13000 р.
                            .desc__row
                                b Размер:
                                .value
                                    |42 (ru)
                            .desc__row
                                b Описание:
                                .value
                                    |Женское платье Roland Mouret с зелёными, белыми и черными вставками. 
                            .desc__row
                                b Материал:
                                .value
                                    |Хлопок
                            .desc__row
                                b Товар в магазине:
                                .value
                                    |г. Архангельск, ул. Воскресенская, д. 114
                                   


        +BestSales()
        +InfoSection()
        +ContactsInfo()
        +Footer()


        include pug/scripts.pug