body
{
    margin: 0;
    color: #000;
    background: #fff;
    font-family: "OpenSans";
}

body.lock
{
    overflow: hidden;
}

*, ::after, ::before 
{
    box-sizing: border-box;
}

a
{
    color: inherit;
    text-decoration: none;
    word-break: break-all;
}

button, input, select
{
    outline: none;
}

button, a
{
    cursor: pointer;
}

section
{
    padding: 40px 0;
}

.navbar
{
    background-color: #fff;
    padding: 25px 0;

    .container 
    {
        display: flex;
        justify-content: space-between;
    }
}

header
{
    .menu__wrapper
    {
        background: rgb(86,12,198);
        background: linear-gradient(90deg, rgba(86,12,198,1) 0%, rgba(138,61,253,1) 100%);
        color: #fff;
        height: 50px;
        display: flex;
        align-items: center;
        .container
        {
            display: flex;
            justify-content: space-between;

            .menu
            {
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;

                li
                {
                    display: flex;
                    align-items: center;
                }

                a
                {
                    display: block;
                    margin-right: 35px;
                }
            }

            .search__form
            {
                display: flex;

                .search__input
                {
                    height: 35px;
                    width: 285px;
                    position: relative;

                    input
                    {
                        font-size: 16px;
                        font-family: 'OpenSans';
                        width: 100%;
                        height: 100%;
                        padding-right: 35px;
                        padding-left: 10px;
                    }

                    button
                    {
                        position: absolute;
                        height: 100%;
                        width: 35px;
                        top: 0;
                        right: 0;
                        background: url(../images/icons/search.png);
                        background-position: center;
                        background-size:auto;
                        background-repeat: no-repeat;
                        border: none;
                    }   
                }
            }
        }
    }
}

.contacts__wrapper
{
    display: flex;
    align-items: center;

    .contacts
    {
        margin-left: 45px;
        font-size: 16px;
        position: relative;
        padding-left: 35px;
    }

    .contacts.phone
    {
        font-size: 18px;
    }

    .contacts::after
    {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .contacts.address::after
    {
        width: 15px;
        height: 24px;
        background: url(../images/icons/address.png);
    }

    .contacts.phone::after
    {
        width: 13px;
        height: 23px;
        background: url(../images/icons/phone.png);
    }

    .contacts.mail::after
    {
        width: 18px;
        height: 14px;
        background: url(../images/icons/mail.png)
    }
}    

section.main
{
    padding-top: 20px;
    .container:nth-child(1)
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .slider__wrapper
        {
            width: 75%;
            position: relative;

            .owl__nav
            {
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 15%;
                z-index: 10;
                display: flex;
                justify-content: center;

                button
                {
                    width: 52px;
                    height: 52px;
                    margin: 5px;
                    border: none;
                    transition: 0.3s;
                    font-size: 0;
                }

                button:hover
                {
                    transform: scale(1.05);
                }

                .owl-prev
                {
                    background: url(../images/icons/slider_left.png);
                    background-size: cover;
                }

                .owl-next
                {
                    background: url(../images/icons/slider_right.png);
                    background-size: cover;
                }
            }

            .owl-carousel, .owl-stage-outer, .owl-stage, .owl-item
            {
                height: 100%;
            }

            .slider__item
            {
                min-height: 475px;
                height: 100%;
                position: relative;

                img
                {
                    height: 100%;
                    object-fit: cover;
                }

                .btn
                {
                    position: absolute;
                    top: 60%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(1);
                    z-index: 10;
                    display: inline-block;
                }

                .btn:hover
                {
                    transform: translate(-50%, -50%) scale(1.05);
                }
            }
        }
    }

    .container:nth-child(2)
    {
        display: flex;
        justify-content: center;
        padding-top: 40px;

        .border__orange
        {
            width: 75%;
            font-weight: 700;
        }
    }
}

.side__bar
{
    width: 23%;
}

.catalog
{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    background: #FDC20E;
    
    a
    {
        font-size: 15px;
        display: inline-block;
        padding: 10px 25px;
        transition: 0.5s;
        width: 100%;
        position: relative;
    }

    .item:hover
    {
        background: #ffd64d;
        cursor: pointer;
    }

    .item
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column-reverse;
        align-items: flex-start;
        transition: 0.5s;
    }

    .item.active
    {
        a
        {
            color: #E2670C;
        }
    }

    .wrapper
    {
        width: 100%;
        background: #feecb0;
        
    }

    .sub__menu
    {
        width: 100%;
        max-height: 0;
        transition: 0.5s;
        overflow: hidden;
    }

    .sub__menu.active
    {
        max-height: 500px;
    }

    .sub__menu + a
    {
        width: auto;
        
    }

    .sub__menu + a:hover
    {
        text-decoration: underline;
    }

    .sub__menu + a:after
    {
        content: '';
        width: 8px;
        height: 8px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        transition: 0.5s;
    }

    .sub__menu.active + a:after
    {
        transform: translateY(-50%) rotate(135deg);
    }

    .wrapper .wrapper a
    {
        font-size: 12px;
        padding-left: 45px;
    }

    .wrapper .wrapper a:before
    {
        content: '- ';
    }

    .wrapper .wrapper .item:hover
    {
        background: initial;

        a
        {
            color: #E2670C;
        }
    }
}

.btn
{
    padding: 10px 25px;
    min-width: 160px;
    border-radius: 25px;
    text-align: center;
    display: inline-block;
    transition: 0.3s;
}

.btn.purple
{
    background-color: #6713e5;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    font-size: 16px;
}

.btn:hover
{
    transform: scale(1.05)
}

.btn.border
{
    border: 3px solid #6713e5;
    text-transform: uppercase;
    font-weight: 700;
    min-width: 230px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.btn.large
{
    font-size: 19px;
    padding: 20px 45px;
    border-radius: 45px;
}

.btn.white
{
    border: none;
    background: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}

.border__orange
{
    border: 5px solid #F8790E;
    padding: 15px;
    text-align: center;
}

section.products__list
{
    .title__wrapper
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;

        .owl__nav
        {
            button
            {
                width: 52px;
                height: 52px;
                border: none;
                margin: 5px;
                font-size: 0;
                transition: 0.3s;
            }

            button:hover
            {
                transform: scale(1.05);
            }

            .owl-prev
            {
                background: url(../images/icons/slider_left_black.png);
                background-size: cover;
            }

            .owl-next
            {
                background: url(../images/icons/slider_right_black.png);
                background-size: cover;
            }
        }
    }

    .slider__wrapper
    {
    }

    .btn__wrapper
    {
        text-align: center;
        margin: 25px 0;
    }
}

.product__item
{
    border: 1px solid #e4e4e4;
    margin: 10px;
    height: 100%;
    display: block;

    .preview
    {
        width: 100%;
        height: 200px;
        overflow: hidden;
        margin-bottom: 15px;

        img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.5s;
        }
    }

    .desc
    {
        padding: 15px;
        text-align: center;

        .type
        {
            font-size: 15px;
        }

        .brand
        {
            font-size: 15px;
            font-weight: 700;
        }

        .price
        {
            font-size: 20px;
            font-weight: 800;
            margin: 5px 0;
        }

        .size
        {
            font-size: 14px;
            color: #757575;
        }
    }
}

.product__item:hover
{
    .preview
    {
        img 
        {
            transform: scale(1.05);
        }
    }
}

section.banner
{
    .container
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .border__orange
        {
            width: 35%;
            padding: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            img
            {
                margin-bottom: 25px;
            }
        }

        .banner
        {
            width: 60%;
            position: relative;
            padding: 25px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            span
            {
                color: #fff;
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 15px;
                margin-top: 20px;
            }

            .bg
            {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: -1;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }
    }
}

section.info
{
    .container
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .border__orange
        {
            width: 48%;
            padding: 40px;
            display: flex;
            flex-direction: column;

            .info__title
            {
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 15px;
            }

            .info__desc
            {
                margin-bottom: 15px;
            }

            .btn__wrapper
            {
                margin-top: auto;
            }
        }
    }
}

section.contacts__info
{
    min-height: 450px;
    display: flex;
    position: relative;
    padding: 0;
    overflow: hidden;

    .ymap
    {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        .ymaps-2-1-78-controls__control
        {
            position: absolute!important;
            right: 10px!important;
            left: initial!important
        }
    }

    .container
    {
        position: relative;
        z-index: 10;
    }

    .container:after
    {
        content: '';
        position: absolute;
        left: -75vw;
        top: 0;
        width: 100vw;
        height: 100%;
        background: #F8790E;
        z-index: -1;
    }

    .info__wrapper
    {
        width: 450px;
        padding: 70px 0;
        color: #fff;

        .info__title
        {
            margin: 0;
        }

        .contacts__wrapper
        {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 30px 0;

            .contact__title
            {
                font-size: 12px;
                margin-bottom: 10px;
            }

            .contact
            {
                font-size: 17px;
            }
        }

        .contacts__wrapper:last-of-type
        {
            margin-bottom: 0;
        }
    }
}

footer
{
    padding-bottom: 20px;

    .footer__info
    {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

        .copyright
        {
            width: 250px;
            font-size: 11px;
        }

        .policy__wrapper
        {
            width: 200px;
            font-size: 11px;

            .policy
            {
                font-weight: 700;
                margin-bottom: 5px;
                display: block;
            }

            .salut
            {
                a
                {
                    color: #6713e5;
                    transition: 0.5s;
                }

                a:hover
                {
                    color: #ff0000
                }
            }
        }
    }
}

.title
{
    font-size: 32px;
    font-weight: 700
}

section.catalog__section
{
    .container
    {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    .catalog
    {
        padding: 0;
    }

    .content
    {
        width: 75%;
    }

    .products__list
    {
        display: flex;
        flex-wrap: wrap;

        .product__item
        {
            width: 265px;
        }
    }

    .product__info
    {
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;

        .images__col
        {
            width: 390px;
        }

        .images__wrapper
        {
            width: 100%;

            .preview
            {
                width: 100%;
                height: 400px;
                position: relative;
                cursor: pointer;
                display: block;

                img
                {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
                
            }

            .preview:after
            {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                border: 1px solid #e4e4e4;
            }
        }

        .images__slider
        {
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            .slide
            {
                width: 95px;
                height: 80px;
                border: 1px solid #e4e4e4;
                margin: auto;
                cursor: pointer;

                img
                {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .desc__col
        {
            width: 475px;
            padding-left: 20px;
            display: flex;
            flex-direction: column;

            h1
            {
                color: #681dd9;
            }

            .desc__row
            {
                font-size: 14px;
                display: inline;
                margin-bottom: 10px;

                .value
                {
                    display: inline;
                }

                b
                {
                    display: inline-flex;
                    width: 35%;
                    justify-content: space-between;
                }
            }

            .price
            {
                margin-bottom: 25px;
                .old_price
                {
                    font-weight: 800;
                    text-decoration: line-through;
                }

                .value
                {
                    font-size: 25px;
                    color: #E2670C;
                    font-weight: 700;
                }
            }
            
        }
    }
}

.breadscrumbs
{
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
    font-size: 12px;

    .active
    {
        color: #681dd9;
    }
    
    span 
    {
        display: inline-block;
        margin: 0 5px;
    }
}

.filter
{
    background-color: #f0f0f0;
    margin-top: 25px;
    padding: 20px;

    #nouislider
    {
        margin-top: 15px;
    }

    .noUi-horizontal
    {
        height: 1px;
        border: none;
    }

    .noUi-target
    {
        background: #000;
    }

    .noUi-connect
    {
        background: #000;
    }

    .noUi-handle.noUi-handle-lower
    {
        width: 0; 
        height: 0; 
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: none;
        border-left: 15px solid #6116d1;
        background: none;
        box-shadow: none;
        border-radius: 0;
        right: -15px;
        top: -7px;
    }

    .noUi-handle:after, .noUi-handle:before
    {
        content: none;
    }

    .noUi-handle.noUi-handle-upper
    {
        width: 0; 
        height: 0; 
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: none;
        border-right: 15px solid #6116d1;
        background: none;
        box-shadow: none;
        border-radius: 0;
        right: 0px;
        top: -7px;
    }

    .nouislider__controls
    {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .control
        {
            width: 85px;
            input
            {
                width: 100%;
                border-radius: 0;
                border: 1px solid #dddddd;
                font-family: "OpenSans";
            }

            span
            {
                font-size: 12px;
                margin-bottom: 5px;
                display: block;
            }
        }

        .separator
        {
            margin: 0 15px;
            font-size: 20px;
        }
    }

    .condition
    {
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        b
        {
            font-size: 15px;
            margin-bottom: 10px;
        }

        label
        {
            font-size: 14px;
        }
    }
}


@import 'responce';